* {
  margin: 0;
}

/* header */
.header-era {
  width: 100%;
  height: 85px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: "quicksandmedium", "poppins-r", sans-serif;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 2;
}

/* header end*/

/* header left */
.header-left {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.logo-name {
  width: 85px;
  height: 85px;
  margin-left: 25px;
}

.logo-name img {
  width: 85px;
  height: 85px;
}

@media (max-width: 768px) {
  .nav {
    display: none !important;
  }
}

.nav {
  margin: 0%;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  font-size: 12pt;
  font-weight: 900;
}

.nav ul li {
  margin-right: 5px;
  transition: 0.7s;
}

.nav ul li a {
  text-decoration: none;
  color: #898d93;
  transition: 0.7s;
  padding: 12px 5px;
}

.nav ul li a:hover {
  color: #4a4a4d;
}

/* header left end*/

/* header right*/
.header-right {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.menu {
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
}

.menu div {
  width: 35px;
  height: 5px;
  background-color: #333;
  border-radius: 5px;
  margin: 6px 0;
  transition: 0.4s;
}

.change1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change2 {
  opacity: 0;
}

.change3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media (min-width: 768px) {
  .menu {
    display: none !important;
  }
}

.call-btn {
  border: 2px solid #4a4a4d;
  border-radius: 5px;
  padding: 17px 22px;
  transition: 0.7s;
  text-decoration: none;
  color: #4a4a4d;
  font-weight: 900;
  font-family: "poppinsbold", sans-serif;
}

.call-btn:hover {
  background-color: #2c1154;
  border: 2px solid #2c1154;
  color: white;
}

@media(max-width:380px){
  #call1{
    display: none !important;
  }
}
/* header right end*/
/* */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 85px;
  /* Stay at the top */
  right: 0;
  background-color: #f1f3f4;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  font-family: "quicksandmedium", "poppins-r", sans-serif;
  border-left: 1px #c4c4c4 solid;
}

.trans {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 85px;
  left: 0;
  background: none;
}

.sidenav ul {
  margin-top: 50px;
}

.sidenav li {
  list-style: none;
  margin-top: 25px;
}

.sidenav a {
  color: #4a4a4d;
  text-decoration: none;
  font-size: 12pt;
  font-weight: 900;
  padding: 5px 15px 5px 5px;
}

/* footer */
.footer {
  width: 100%;
  height: 35vh;
}

.f-contain {
  width: 100%;
  height: auto;
  background-color: #18181b;
  margin: 0 auto;
  color: white;
  overflow-x: hidden;
}

.up {
  width: 85%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.f-title {
  width: 60%;
  height: auto;
  font-size: 2.5rem;
  font-family: 'poppinsbold', "quicksandbold", sans-serif;
}

.f-addresses {
  margin: auto 0;
  font-size: 1.5rem;
}

.f-adderss {
  padding: 8px 0;
}

.f-addresses a {
  color: white;
  font-family: "quicksandmedium", poppins, sans-serif;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.f-adderss span {
  margin: 0 0 5px 10px;
}

@media (max-width: 455px) {
  .f-title {
    font-size: 20pt !important;
  }
  .f-address{
    font-size: 8pt !important;
  }
}

@media (max-width: 660px) {
  .f-title {
    font-size: 2rem;
  }

  .f-addresses {
    font-size: 1.2rem;
  }
}

#hr2 {
  width: 85%;
  height: 1px;
}

.down {
  width: 85%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: "quicksandmedium", poppins, sans-serif;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 900;
}

.f-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
}

.f-nav ul li a {
  text-decoration: none;
  color: white;
  padding: 12px 14px 12px 0;
}


@media (max-width: 630px) {
  .down {
    font-size: 1rem;
  }
}