* {
  margin: 0;
}

/* 
colors
text #898d93
active #4a4a4d
search bar #f1f3f4
search bar text #a4aab2
fad #f6f6f6
*/

#preloader {
  background: #C4EBE8 url(preloader.gif) no-repeat center center;
  background-size: 50%;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.main-banner {
  background: url("home banner.jpeg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 93vh;
  margin-top: 85px;
}

.banner-text-in {
  letter-spacing: 1px;
  font-size: 1.35em;
  position: relative;
}

.banner-text-in h3 {
  color: white;
  font-size: 2.25em;
  font-family: 'poppinsbold', sans-serif;
  letter-spacing: 2px;
  text-shadow: #f115af 6px 6px 3px;
}

.banner-text-in h5 {
  margin-top: 20px;
  font-family: 'poppinssemibold', sans-serif;
  font-size: 1.1em;
  color: #c5c5c5;
  text-shadow: white 0px 5px 20px;
}

#call2 a {
  top: 50px;
  position: relative;
  color: white;
  border-color: #2c1154;
  background-color: #2c1154;
}

/******** media min-width from small to big *********/

/* less than 380px */

@media(max-width:380px){
  #call2 a{
    padding: 17px 20vw !important;
  }
}
/* less than 580px */

@media (max-width: 580px) {
  .container {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-text {
    text-align: center;
    width: 98%;
    height: 300px;
    margin-left: 2%;
    margin-top: 40px;
    /* background-color: yellow; */
  }

  .banner-photo {
    margin-top: 70px;
    width: 100%;
    /* background-color: green; */
  }

  .banner-photo img {
    width: 100%;
    height: auto;
  }

  .banner-text-in h3 {
    font-size: 1.7em;
  }

  .banner-text-in h5 {
    font-weight: 600;
    font-size: 0.95em;
  }

  #call2 a {
    padding: 17px 27vw;
  }
}

/* 580px till 768px */

@media (min-width: 580px) {
  .container {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-text {
    text-align: left;
    width: 98%;
    height: 300px;
    margin-left: 2%;
    margin-top: 40px;
    /* background-color: yellow; */
  }

  .banner-photo {
    margin-top: 70px;
    width: 100%;
    /* background-color: green; */
  }

  .banner-photo img {
    width: 100%;
    height: auto;
  }
}

/* more than 768px */
@media (min-width: 768px) {
  .container {
    width: 100%;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .banner-text {
    text-align: left;
    width: 40%;
    height: 300px;
    margin-left: 2%;
    /* background-color: yellow; */
  }

  .banner-photo {
    width: 58%;
    /* background-color: green; */
  }

  .banner-photo img {
    width: 100%;
    height: auto;
  }
}

.intro {
  width: 100%;
  height: auto;
  position: relative;
  z-index: -1;
}

.intro-container {
  width: 95%;
  margin: 0 auto;
  padding: 60px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.intro-img {
  width: 500px;
  height: auto;
}

.intro-img img {
  width: 100%;
  height: auto;
  border-radius: 0 0 50% 50%;
}

.intro-text {
  width: 43%;
  height: auto;
  background-color: #f1f3f4;
  border-radius: 30px;
  font-size: 2em;
  padding: 30px;
  vertical-align: middle;
}

.intro-text h5 {
  font-family: "tailwindblack", sans-serif;
  font-size: 1.2em;
  padding-bottom: 20px;
}

.intro-text p {
  color: #696e72;
  line-height: 1.3em;
  font-family: "tailwindregular", sans-serif;
  font-size: 0.76em;
}

.intro-text span {
  font-family: "Quicksandlight", "poppinssemibold";
  color: #545c61;
  background-color: #e8e8e8;
  padding: 5px;
  border-radius: 8px;
  vertical-align: middle;
  font-size: 0.62em;
}

@media (max-width: 768px) {
  .just-desktop {
    display: none !important;
  }

  .intro-container {
    display: flex;
    flex-direction: column;
  }

  .intro-img {
    width: 85%;
    height: auto;
  }

  .intro-text {
    width: 80%;
    height: auto;
    font-size: 18pt;
  }
}

/* *************** */
hr {
  width: 20%;
  height: 3.5px;
  margin: 90px auto 10px;
  color: #c4c4c4;
  background-color: #c4c4c4;
  border-radius: 5px;
  border: none;
}

.title {
  font-family: "Tailwindblack", sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 2em;
}

.card-sec {
  width: 100%;
  height: auto;
}

.cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  width: 270px;
  height: 350px;
  background-color: #e8e8e8;
  border-radius: 7px;
  margin: 50px 0;
  box-shadow: #ececec 20px 20px 25px;
  border: 1px #c4c4c4 solid;
  box-sizing: border-box;
}

.card i {
  padding: 50px 0 20px 0;
  display: block;
  text-align: center;
  font-size: 6em;
  color: #101010;
}

.card h5 {
  text-align: center;
  font-family: "Quicksandbold", "poppinssemibold", sans-serif;
  padding: 10px;
  font-size: 2em;
}

.card p {
  font-family: "Tailwindregular", sans-serif;
  font-weight: 900;
  font-size: 1em;
  text-align: center;
  color: #696e72;
  padding: 0 10px;
}

/* ********* */

.mini-resume {
  width: 100%;
  height: auto;
}

.resume {
  width: 100%;
  height: 80vh;
  background: url("Ca.PNG") no-repeat center center;
  background-size: cover;
  margin: 50px 0 0 0;
  position: relative;
  border-radius: 20px;
}

.fad {
  width: 100%;
  height: 30vh;
  background-image: linear-gradient(0deg, #666666, #696e7200);
  position: absolute;
  border-radius: 0 0 20px 20px;
  bottom: 0;
}

.full {
  position: absolute;
  right: 40px;
  bottom: 40px;
  font-family: 'quicksandregular', sans-serif;
}

.full a {
  text-decoration: none;
  padding: 14px;
  font-weight: 900;
  color: white;
  background-color: #6b6bff;
  border-radius: 5px;
}

/* rec */
.rec-container {
  margin-top: 50px;
  width: 100%;
  height: auto;
  position: relative;
}

.rec-cards {
  display: relative;
}

.rec-card {
  width: 80%;
  height: 250px;
  margin: 0 auto;
  display: none;
  /*will be flex*/
  flex-wrap: nowrap;
}

.rec-img {
  width: 250px;
  margin: auto 0;
  height: 250px;
  background-color: white;
}

.rec-img img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px #c4c4c4 solid;
}

.rec-text {
  margin: auto 0 auto 30px;
}

.rec-text i {
  font-size: 2em;
}

.rec-text p {
  color: #696e72;
  font-family: 'quicksandmedium', "poppinssemibold", sans-serif;
  font-size: 1.7em;
  font-weight: 900;
  margin: 10px 0;
}

.rec-author {
  color: #4f5255;
  font-family: "Quicksandbold", "poppinsbold", sans-serif;
  font-size: 1.4em;
  font-weight: 900;
}

@media (max-width: 630px) {
  .rec-img,
  .rec-img img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 880px) {
  .rec-text p,
  .rec-author {
    font-size: 0.99em;
  }
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 50px 2px 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}

@media(max-width:450px){
  .rec-card{
    flex-wrap: wrap
  }
  .dot{
    margin: 100px 2px 0;
  }
}
@media(max-width:350px){
  .dot{
    margin: 180px 2px 0;
  }
}

/* .active,
.dot:hover {
    background-color: #717171;
    transform: scale(1.4);
} */
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.demo {
  width: 100%;
  height: 500px;
}
