* {
  box-sizing: border-box;
}
body{
    margin: 0;
}
h1,
.title {
  text-align: center;
}
.container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.card {
  background-color: grey;
  border: 1px black solid;
  margin: 10px;
}

.title {
  border: 1px black solid;
  width: 70px;
  height: 30px;
  margin-left: auto;
  margin-right: 0;
}
.t1 {
  background-color: #df9293;
}
.t2 {
  background-color: #d03436;
}
.t3 {
  background-color: #e4d791;
}

@media (min-width: 992px) {
  .card {
    width: 33%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    flex-wrap: wrap;
  }
  .card {
    width: 46%;
  }
  .card3    {
    width: 96%;
  }
}
@media (max-width:767px){
    .container{
        flex-wrap: wrap;
    }
}
