* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.li {
  padding: 10px 0;
  border-bottom: 1px #dadada solid;
}
.li3 {
  padding: 10px 0;
}
.li a {
  font-size: 1.5em;
}
.li3 a {
  font-size: 1.5em;
}
h5 {
  font-size: 2em;
  font-weight: 800;
}
h6 {
  font-size: 1.5em;
  font-weight: 800;
  padding: 40px 0;
}
